@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: tajawal;
    src: url("../assets/fonts/Tajawal-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: tajawal;
    src: url("../assets/fonts/Tajawal-Regular.ttf");
}
@font-face {
    font-family: tajawal;
    src: url("../assets/fonts/Tajawal-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: tajawal;
    src: url("../assets/fonts/Tajawal-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: tajawal;
    src: url("./assets/fonts/Tajawal-ExtraBold.ttf");
    font-weight: 900;
}
.font-tajawal {
    font-family: tajawal;
}
* {
    font-family: tajawal;
}
*,
::before,
::after {
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
}
html {
    direction: rtl;
}

body {
    @apply bg-[#f8f9fe] dark:bg-dark-900 m-0;
}

::placeholder {
    font-family: tajawal;
}
.ant-btn-primary {
    box-shadow: none;
}
button img {
    display: inline;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    // display: block;
    vertical-align: unset;
}

// scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// table
.isolate {
    @apply p-6 bg-white dark:bg-dark-700 border-2 border-gray-300 dark:border-none shadow-xl rounded-xl;
}
.isolate-2 {
    @apply p-6 bg-white dark:bg-dark-700 border-2 border-gray-200 dark:border-none  rounded-xl;
}
